In [1]:
import pandas as pd
#from matplotlib import cm
#plt.style.use('ggplot')

In [2]:
course = pd.read_csv("udemy_courses.csv")

In [3]:
course = course.drop(columns = ["is_paid", "num_reviews", "published_timestamp","num_subscribers","num_lectures", "course_id"])
course = course.rename(columns = {'course_title' : 'title', 'subject' : 'tag'})
#course.head(5)

In [4]:
book = pd.read_csv('goodreads_data.csv')
book = book.drop(columns = ["Avg_Rating", "Num_Ratings", "Author"])
book = book.rename(columns = {'Book' : 'title', 'Genres' : 'tag', 'URL' : 'url'})

In [5]:
course['type'] = 'course'
book['type'] = 'book'

In [6]:
combined = pd.concat([book, course], ignore_index = True)
combined.drop_duplicates(subset=['title'], keep='first', inplace=True)
#if 'Description' not in combined.columns:
#    combined['Description'] = "0"
combined['Description'] = combined['Description'].fillna(' ') 
combined['Unnamed: 0']  = combined['Unnamed: 0'].fillna(' ')
#combined.head(5)
#combined.tail(5)

In [7]:
#combined.isnull().sum()

In [8]:
combined.head(5)

,Unnamed: 0,title,Description,tag,url,type,price,level,content_duration
0,0.0,To Kill a Mockingbird,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...",https://www.goodreads.com/book/show/2657.To_Ki...,book,NaN,NaN,NaN
1,1.0,Harry Potter and the Philosopher’s Stone (Harr...,Harry Potter thinks he is an ordinary boy - un...,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',...",https://www.goodreads.com/book/show/72193.Harr...,book,NaN,NaN,NaN
2,2.0,Pride and Prejudice,"Since its immediate success in 1813, Pride and...","['Classics', 'Fiction', 'Romance', 'Historical...",https://www.goodreads.com/book/show/1885.Pride...,book,NaN,NaN,NaN
3,3.0,The Diary of a Young Girl,Discovered in the attic in which she spent the...,"['Classics', 'Nonfiction', 'History', 'Biograp...",https://www.goodreads.com/book/show/48855.The_...,book,NaN,NaN,NaN
4,4.0,Animal Farm,Librarian's note: There is an Alternate Cover ...,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",https://www.goodreads.com/book/show/170448.Ani...,book,NaN,NaN,NaN